header{
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-right: auto
}

header h1{
    color: white;
    font-family: Helvetica;
    margin-left: auto;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #003366;
    padding: 10px;
}

div a{
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    flex-grow: 1;
    text-align: center;
}

div a:hover{
    text-decoration: underline;
}

main{
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-family: Arial;
    font-weight: 500;
}

main h2{
    color: #003366;
    font-weight: bold;
}

main dl{
    font-weight: bold;
}

main ul{
    list-style-position: inside;
    list-style-type: '- ';
    font-weight: 100;
    padding: 0px;
}

main li{
    margin: 15px;
}

footer{
    color: white;
    background-color: #004080;
    padding: 20px;
    text-align: center;
    font-family: Helvetica;
}
