header{
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    font-family: Helvetica;
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header img{
    margin-right: auto
}

header h1{
    color: white;
    margin-left: auto;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #003366;
    padding: 10px;
}

div a{
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    flex-grow: 1;
    text-align: center;
}

div a:hover{
    text-decoration: underline;
}

main {
    font-family: Helvetica;
    background-color: #f4f4f4;
}

.about{
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-family: Arial;
    font-weight: 500;
}

.about h2{
    color: #003366;
    font-weight: bold;
}

.about dl{
    font-weight: bold;
}

.about ul{
    list-style-position: inside;
    list-style-type: '- ';
    font-weight: 100;
    padding: 0px;
}

.about li{
    margin: 15px;
}

footer{
    color: white;
    background-color: #004080;
    padding: 20px;
    text-align: center;
    font-family: Helvetica;
}

.login{
    display: flex;
    flex-direction: column;
}

.login-item{
    text-align: center;
    display: block
}
.login h2{
    text-align: center;
    color: #004080;
}

.log {
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 2px 2px 4px #b3b3b3;
}

.username, .password{
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border: darkgray 3px;
}

.login button {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}


.login button:hover {
    background-color: darkgreen;
}

.forgot {
    text-decoration: none;
    color: #004080
}

.forgot:hover {
    text-decoration: underline;
}

select{
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}